*.pyc
*.*.pyc
*.log
*.wandb
wandb*.json
wandb/
*.cpython-310.pyc
runs/
Data/__pycache__/genData.cpython-310.pyc
*.pt
*.pth
Data/__pycache__/genData.cpython-310.pyc
color_mnist_spring/
*.mp4
Data/color_mnist.npz
.DS_Store
custom_dataset.npy
*.npz
*.npy
*.avi
*.mp4
*.png
*.gif
*.mov
*.svg
*.pdf
*.zip